


body{
	/*margin: 0 auto;*/
    /*width: auto;*/
    /*font-family: terminal;*/
    /*border: 5px dotted gray;*/
    /*border-image: url('background.jpg');*/
    /*height: 635px;*/
    /*min-height: 600px;*/
   	/*background-size: 200% 200%;*/
   	background-repeat: no-repeat;
   	background-position: center;
   	position: relative;
   	box-shadow: 0 0 1000px;
    background-image: url('http://pre01.deviantart.net/0ede/th/pre/f/2011/073/5/9/tron_room_by_kevoniori-d3bml63.jpg');
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*padding: 10%;*/

    
   
    
}

body:hover {
	cursor: help;
}



h1{
	/*background-color: black;*/
	border-radius: 0;

}

h3{
	 text-shadow: -1px 0 silver, 0 1px silver,
      1px 0 silver, 0 -1px silver;
}

.hide-on-click{
	display: none;
}


.view{
	border: solid black 1px;  
}

#gameboard{
	/*margin-top: %;*/
}
	

.row-right{
	/*margin-right: 5px;*/
	background-size: 200% 200%;
	float: left;
	text-align: left;
	border: solid 15px rgba(0, 0, 0, 0.1);
	height: 150px;
	width: 150px;
	background-image: url('http://fc09.deviantart.net/fs70/f/2011/347/1/4/terminal_by_ashm909-d4j1hel.jpg');

	/*background-image: url('img/batgirl.png');*/
   	/*background-size: 175% 100%;*/
   	background-position: bottom;
   	background-repeat: no-repeat;
	border-radius: 2%;
	/*box-shadow: -10 -10 100px;*/
	/*opacity: .4;*/
		font-size: 80pt;
	text-align: center;
	box-shadow: inset 0 0 1em lightgreen, 0 0 1em lightgreen;
	border-radius: 20%;
	border: groove gray 3px;
	/*background-image: url('http://fc09.deviantart.net/fs70/f/2011/347/1/4/terminal_by_ashm909-d4j1hel.jpg');*/
 	background-position: center;
 	color: rgba(51, 162, 51, .6);

}

.row-left{
	/*margin-right: 5px;*/
	background-size: 200% 200%;
	float: left;
	text-align: left;
	border: solid 15px rgba(0, 0, 0, 0.1);
	height: 150px;
	width: 150px;
	background-image: url('http://fc09.deviantart.net/fs70/f/2011/347/1/4/terminal_by_ashm909-d4j1hel.jpg');

	/*background-image: url('img/batgirl.png');*/
   	/*background-size: 175% 100%;*/
   	background-position: bottom;
   	background-repeat: no-repeat;
	border-radius: 2%;
	/*box-shadow: -10 -10 100px;*/
	/*opacity: .4;*/
		font-size: 80pt;
	text-align: center;
	box-shadow: inset 0 0 1em lightgreen, 0 0 1em lightgreen;
	border-radius: 20%;
	border: groove gray 3px;
	/*background-image: url('http://fc09.deviantart.net/fs70/f/2011/347/1/4/terminal_by_ashm909-d4j1hel.jpg');*/
 	background-position: center;
 	color: rgba(51, 162, 51, .6);
	
}


/*input{
	color: white;
	border: 10px;
	box-shadow: 0 0 100px black;
}
*/

.marge{
	margin-left: 28%;
}

.under{
	z-index: -1;
	/*width: 40px;*/
}

.smaller{
	font-size: 10pt;
}

input{
	/*border-radius: 50%;*/
	/*background-color: red;*/
	/*border-style: groove gray 5px !important;*/
	background-image: url('img/button.png');
	background-position: center;
	background-size: 100%;
	margin-bottom: 20px;
	border:0;
	padding: 10px;
	height: 40px;
	width: 40px;
	border-radius: 10%;
}


.list-group{
	border:none;
}

 .list-group-item{
 	/*background-color: black;*/
 	background-image: url('http://www.artistchoicemetal.com/wp-content/upload/Satin-Brushed-Stainless-Steel-Sheet.jpg');
	color: #208B18;
	font-family: "Lucida Console", Monaco, monospace;
	border: inset silver 3px !important;


 }

 #riddle-header{
 	font-size: 15pt;
 }

 #accordian-riddle{
 	color: rgba(41, 152, 41, .1);
 	/*height: 1000px;*/

 }

 .riddle{
 	float: left;
 	text-align: center;
 	background-image: url('img/url.jpg');
 	word-wrap: break-word !important;
 }


 .computer{
 	/*background-image: url('http://homehdwallpaper.biz/wp-content/uploads/2015/01/wood-grain-texture-seamless.jpg');*/
 	background-image: url('img/gcardback.png');
 	background-position: center;
 	background-size: 240% 220%;
 	border-radius: 5%;
 	border: 2px;
 	height: 1200px;
 	padding: 30px;
 	padding-top: 80px;
 	width: 700px;
 	/*z-index: -1;*/
 	/*position: absolute;*/
	-webkit-transform: perspective(600px) rotateX(20deg);
    -moz-transform: perspective(600px) rotateX(20deg);
    -ms-transform: perspective(600px) rotateX(20deg);
    -o-transform: perspective(600px) rotateX(20deg);
    transform: perspective(600px) rotateX(20deg);
 }


ul{
	/*border: groove gray 5px;*/
    border: inset silver 5px !important;
}

li{
	color: #208B18;
	font-family: "Lucida Console", Monaco, monospace;
	border: groove gray 3px !important;
}

ul:hover {
    cursor: pointer;
    cursor: hand;
}

.typed-cursor{
    opacity: .5;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.riddle-button{
	background-image: url('img/button.png');
	background-position: center;
	background-size: 120%;
	margin-bottom: 20px;
	border:0;
	padding: 10px;
	height: 40px;
	width: 40px;
	border-radius: 10%;
	box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.4);


}
.riddle-button:hover{
	box-shadow: inset 0 0 100px rgba(225, 100, 100, .5), 0 0 100px rgba(225, 0, 0, 1);

}

.riddle-button-active{
	box-shadow: inset 0 0 100px rgba(225, 100, 100, .5), 0 0 100px rgba(225, 0, 0, 1);

}

.inline	{
	padding-top: 40px;
	display: inline;
}

.knobs{
	width: 50%;
}

button{
	background-image: url('img/button.png');
	background-position: center;
	background-size: 100%;
	margin-bottom: 20px;
	border:0;
	padding: 10px;
	height: 40px;
	width: 40px;
	border-radius: 10%;
}









